body {
    background-color: darkblue;
    /*background-image: url('assets/gujarat-map-transparent.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 500%;
    font-family: fantasy;
    text-align: center;
    background-color: rgba(255, 64, 0, 1)
}

h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 300%;
    font-family: 'Times New Roman';
    text-align: center;
    background-color: rgba(186, 1, 1, 1);
}

h3 {
    color: rgba(0, 200, 0, 1);
    font-size: 200%;
    font-family: Impact;
}

a:link {
    color: rgb(34, 196, 217);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 122, 50);
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: yellow;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

li {
    float: left;
    display: block;
    color: white;
    size: 300px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:link {
    color: white;
}

li a:visited {
    color: white;
}

li :hover {
    background-color: #00aa00;
    color: aqua;
}

.titleclass {
    background-color: rgb(255, 0, 179);
    color: rgba(0, 0, 0, 1);
    font-size: 500%;
    font-family: fantasy;
    text-align: center;

}

.keytext {
    background-color: rgb(97, 19, 242);
    color: aliceblue;
}