
.body {
  
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
  }
  
  main {
    margin-top: 150px;
    display: block;
  margin-left: auto;
  margin-right: auto;

    padding: 30px;
    background-color: rgba(210, 210, 210, 0.528);
    max-width: 500px;
    border-radius: 30px;
  }
  
  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  input {
    margin: 10px;
  }
  
  input,
  textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 5px 5px 0;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border-bottom: 1px solid rgb(89, 0, 255);
  }
  
  input[type="submit"] {
    background-color: rgb(49, 35, 61);
    border-radius: 10px;
    color: white;
    width: 30%;
    cursor: pointer;
    position: relative;
  }
  
  input[type="checkbox"] {
    max-width: 30px;
  }
  
  form ::placeholder {
    color: rgb(26, 4, 43);
    opacity: 20%;
  }
  
  form input :invalid {
    color: blueviolet;
    background-color: rgba(137, 43, 226, 0.692);
  }
  input name:focus{
  
  }
  